.buali-image {
    width: 100px;
    height: 80px;

}
.text {
    font-family: vazirmatn;
    font-size: 30px;
    text-align: right;
    direction: rtl;
    margin: 30px;
    text-align: justify;

    border: 3px solid #3cc2d1;
    padding: 30px;
    border-radius: 40px; 
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.1);
}