@font-face {
    font-family: vazir;
    src: url("../assets/fonts/Vazir.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    /* width: 100vw; */
    height: 100vh;
}

main {
    min-height: calc(100% - 200px);
}
